.list__section {
  margin: 0 3rem;
}

.list__container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}

.search__form {
  margin: 0 0 2.2rem;
}

@media only screen and (max-width: 1280px) {
  .list__container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .list__container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .list__container {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
  }
}
